@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

$primary-color: #8b2030;
$primary-color-variant: #fe4c6f;
$secondary-color: #38a8df;
$white-color: #fffffe;
$light-color: #e8d9d9;
$black-color: #272139;
$dark-color: #312d2d;
$success-color: #46d663;
$container-lg: 82%;
$container-md: 90%;
